body {
    background-color: #6f42c1;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 20px;
    background-position: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}